<?xml version="1.0" encoding="utf8"?>  
<server>
    <max_threads>10</max_threads>
    <service_wait_time>30</service_wait_time>
    <port>8800</port>
    <host>
        <host_name>test.com</host_name>
        <index_file>index.html</index_file>
        <document_root_directory_path>E:/workspace/www/</document_root_directory_path>
        <cgi>
            <url_alias>/cgi-bin/</url_alias>
            <document_path>E:/workspace/www/cgi-bin/</document_path>
        </cgi>
        <headers>
            <set>
                <url_alias>/static/</url_alias>
                <header>
                    <key>Cache-Control </key>
                    <value>max-age = 20</value>
                </header>

            </set>
        </headers>

    </host>
</server>